<div class="container">
  <h2>Travel Info</h2>
  <div>
    <h3>Archer Travel</h3>
    <h4>IATA: 1234324</h4>
    <p>4148 Ocean View Blvd</p>
    <p>Montrose, CA 91020</p>
    <p>Local: <span class="bfh-phone">(818) 248-1511</span></p>
    <p>Toll Free: 800-272-4377</p>
    <p>Fax: (818) 248-1643</p>
  </div>
</div>