<div class="container">
  <h2>Vendor Information</h2>
  <div class="list-group">
    <a href="#" class="list-group-item">Hilton Honors</a>
    <a href="#" class="list-group-item">Avis</a>
    <a href="#" class="list-group-item">Hertz</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
  </div>
</div>