<h1>Vendors</h1>

<div class="table-responsive">
  <table class="table table-striped table-condensed">
  
  <% @vendors.each do |vendor| %>
    <tr>
      <td><%= link_to vendor.vendor_name, {:action => 'show', :id => vendor.id} %></td>
      <td><%= vendor.vendor_url %></td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New Vendor', new_vendor_path %>